
:root {
  font-family: Inter, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #25231f;
  background: #faf9f6;

  font-optical-sizing: auto;
}

html {
  min-width: 320px;
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

button,
input,
select,
textarea {
  font: inherit;
}

button:focus-visible,
a:focus-visible {
  outline: 3px solid #84967c;
  outline-offset: 3px;
}

::selection {
  color: white;
  background: #344b3c;

}
